[2014-05-10 16:51] danielwegener opened #1 "Implement step creation wizard"

[2014-05-10 16:52] danielwegener opened #2 "Ensure that only real cucumber Step-method invocations are considered as references"

[2014-05-10 16:52] danielwegener opened #3 "Create documentation and userguide"

[2014-05-10 21:11] danielwegener opened #4 "Find references on a step definition yields references in feature files"
I think this is a tricky one since ReferenceSearch returns ScReferences that reference the called method but not the ScFunctionCall itself. Maybe someone with PSI/idea-scala can help out here?

[2014-07-29 13:35] jkrawczyk opened #5 "Only classes directly extending ScalaDsl are loaded as Steps"
Hi. There is a problem with loading steps. When steps are defined as:

everything works fine but after change to:

features lost step references.

I assume the problem lies in **CucumberScalaExtension#loadStepsFor()**

Regards.

[2014-11-06 20:07] danielwegener opened #6 "Release an Intellij 14 compatible version"
The `intellij-scala` plugin uses scala 2.11.2. Since this plugin depends on it, it breaks binary compatibility.
We should release a new version of this plugin that is built against the recent `intellij-scala` plugin.

[2014-11-06 21:31] #5 closed, assigned to nobody

[2014-11-10 07:54] #6 closed, assigned to nobody

[2015-03-26 09:43] aaronmgomez opened #9 "Support for Intellij 14.1"
plugin is no longer compatible with Intellij v14.1

[2015-03-26 12:16] otros-systems commented on #9
+1

[2015-03-26 12:33] danielwegener commented on #9
I gonna look into it this evening. Maybe it's just upgrading the manifest, it will depend if the intellij-scala plugin made a binary incompatible scala upgrade.

[2015-03-26 19:54] danielwegener commented on #9
0.3.1 hit the road: https://plugins.jetbrains.com/plugin/7460?pr=idea
Feel free to close this issue if it works for you - due to lack of time and patience to setup the Idea SDK on this laptop, this is rather a blind, untested release.

[2015-03-27 16:38] aaronmgomez commented on #9
Great, working again now, thanks

[2015-03-27 16:38] #9 closed

[2015-04-01 19:32] danielwegener opened #10 "Support cucumber-java annotations"
Since the scala cucumber dsl has some restrictions and does not integrate well with cucumber-java ObjectFactories (DI-Providers), we should support scala glue code that uses java annotations (@After, @Before and so on) instead of the scala-dsl.

[2015-05-22 08:27] lenniboy opened #11 "Multiple step implementations make selection dropdown to wide to read content"
Hi,

first of all, thanks for the great plugin. Our team is using it a lot and loving it!

We have slightly unusual project setup where we have two implementations of most steps. When you click on the step definition in the feature file a dropdown is shown to offer you a selection of the two implementations. However, the dropdown does not contain the path to the file (as I would expect) but the so

[2015-05-22 08:36] danielwegener commented on #11
Hello @lenniboy.
I am happy to see there are actual users of this plugin out there. The `intellij-cucumber-scala` plugin is just a thin language binding implementation for scala. There is absolutly no ui code involved. I am not sure if the language neutral `intellij-cucumber` plugin allows the language binding to provide the displayed string or if it is derived from the code location in the PSI mo

[2015-05-22 08:44] lenniboy commented on #11
So this Intellij ticket describes a somewhat related issue and has screenshots of how the dropdown looks for Ruby: https://youtrack.jetbrains.com/issue/RUBY-15111#

![2014-03-25 19_57_50](https://cloud.githubusercontent.com/assets/151346/7766970/f411c854-006e-11e5-97ef-b05694697b62.png)

You can see the matching regex plus the filename. (The complaint there is that there are too many matches but i

[2015-08-18 13:37] avokin commented on #11
You need to provide custom ItemPresentation. As example you could take GrStepDefinitionPresentationProvider. It solves the same problem for step definitions in Groovy

[2015-08-20 19:02] danielwegener commented on #11
Aw I am currently a bit short of time. I'd welcome any PR on this.

[2015-11-10 12:44] tigran10 opened #12 "Cucumber scala plugin seems to be broken on 15.0v"
I am not able to run any feature files at all,  seems that plugin is not picking up any of them. Also the navigation between features and steps is not working as well. We have same problem on every machine with 15.0 intellij installed. The only way to run tests is through runner class which will run all of them.

Cheers,
Tigran

[2015-11-10 14:14] danielwegener commented on #12
Hi @tigran10,

thanks for the report. I'll have a look into this soon.

[2015-11-10 21:45] danielwegener commented on #12
This will not work today anymore. The sbt tooling is broken since jetbrains decided not to release intellij15 through team city.

[2015-11-11 07:18] #12 closed

[2015-11-11 07:20] danielwegener commented on #12
The release train is rolling, update should be within your IDE within 2 days.

[2015-11-11 08:58] tigran10 commented on #12
Thanks @danielwegener , much appreciated !

[2015-11-15 21:31] tigran10 commented on #12
Just updated the plugin, works like a charm, cheers @danielwegener

[2015-12-04 09:52] YCyberman opened #14 "Step Definition loaded from jar"
Hi,
in case the step definition implementation are exported into a jar ( publish sbt) and then used in another project the plugin is unable to link feature and step definition ( but you can run the scenario without problems).
Seems, looking at the code that the problem is in getModuleWithDependenciesAndLibrariesScope that doen't take care of libraries, may help? Am i right?
Apologies for the bad e

[2015-12-04 10:03] danielwegener commented on #14
Hi Luigi. I am not so sure that this can be solved easily. cucumber java uses annotations on public methods for step definitions that can be reflected upon at compile or even at runtime. In cucumber-scala, step definitions are "method calls" on the constructur of a class which become AST after compiling. So the only way to find glue code for the cucumber-scala-plugin right now is to scan the actua

[2015-12-04 13:23] YCyberman commented on #14
Great! What i'm trying to do is a testing framework that shares base step definitions in different projets importing the jar from sjbt.

[2015-12-18 10:10] sinwe opened #15 "ScalaDSL marker not inherited from traits"
Installed this plugin on IntelliJ 15.0.2 with scala plugin installed.
The Feature files are not able to link the steps to the glue code.

[2015-12-18 10:55] danielwegener commented on #15
Can you confirm the build number 144.2151 (IntelliJ -> Help -> About)?

[2015-12-18 11:06] sinwe commented on #15
I can only get back with that on Monday. But I've tried with latest
intellij available as of now.

Regards,
Wins

On Fri, Dec 18, 2015, 18:55 Daniel Wegener <notifications@github.com> wrote:

--

Regards,
Winarto

[2015-12-18 15:53] danielwegener commented on #15
Cheers! I quickly tried to reproduce the issue but all just *works fine on my machine* with:

- idea 143.1184.17 (15.0.2 ultimate)
- intellij scala 2.0.4
- `info.cukes:cucumber-scala:1.2.4` (as module dependency)

Is this a bug that just occured after the update? Could you retry it with the example module in this repository or provide a minimal example that shows the bug?

[2015-12-21 04:21] sinwe commented on #15
Hi,

Here is what I can confirm:
* IntelliJ IDEA 143.1187 (15.0.2 ultimate), not sure what the last number is.
* Intellij scala 2.0.4
* info.cukes:cucumber-scala_2.10:1.2.4 (as module dependency). In fact, I tried with both 1.2.0 and 1.2.4.

This is the first time I use cucumber-scala, so I don't know if this occurs prior to this version. Unfortunately I can't get sbt running from my office workst

[2015-12-22 06:17] sinwe commented on #15
I just downloaded this plugin source code, and realize that it depends on scala 2.11.
Does this work on scala 2.10?

[2015-12-22 09:34] sinwe commented on #15
Created gist [here](https://gist.github.com/sinwe/b7432758cf2b5784069e)

[2015-12-22 11:50] danielwegener commented on #15
I see your point. A quick work around is to make `EnglishCucumberSteps` an abstract class or to mix in the `ScalaDSL` trait into `RpnCalculatorStepDefinitions` directly.

I'll rename this issue to __ScalaDSL marker not inherited from traits__

[2015-12-22 11:59] danielwegener commented on #15
And thanks for the report and your effort to make it reproducible :). That's really helpful!

[2015-12-22 14:14] danielwegener commented on #15
fixed in 0.3.3 (on the way to the jetbrains plugin repository)

[2015-12-22 14:20] sinwe commented on #15
Does 0.3.3 also fix the issue with multiline step?

[2015-12-22 14:24] danielwegener commented on #15
Oh sorry I completely read over that one. I gonna create a seperate ticket for that.

[2015-12-22 14:33] danielwegener commented on #15
Any Idea how it should look like? You mean something like this?
[code]
A bit hard because `.stripMargin` would have to be _executed_ while searching for glue code. As with java-annotations, the current implementation only allows real string literals to be used in step definitions.

[2015-12-22 14:37] sinwe commented on #15
Yeah, something like that. Or to put simpler, something like this
[code]

[2015-12-22 15:06] danielwegener opened #17 "Support composite string literals in step definitions"
As mentioned by @sinwe in #15, it would be nice to support further literals as step definition arguments.

Examples are:

[code]

Problem: In the PSI model, we have an infix expression that contains string literals and the reference expression +. For this specific case, we could create a handler that detects _exactly_ this combination (multiple string literals concatinated with a `+`).

[code]

Pr

[2015-12-22 15:14] danielwegener commented on #17
My thoughts: we maybe should only support the first case, because that is essentially what you can also could do in javas annotation dsl (```@When("foo"+"bar")```).

Java annotations only allow constants as parameters (what perfectly makes sense since they should be accessible at compile time).
[code]
or
[code]

As already stated, the cucumber scala dsl is too powerful (in the meaning of defining

[2016-02-08 11:47] YCyberman commented on #14
Hi,
any news on this topic?

[2016-02-08 11:52] danielwegener commented on #14
Hi @YCyberman, sorry forgot about this one. But I am pretty sure this cannot work with the cucumber `ScalaDsl ` because of the restrictions mentioned above.

[2016-02-08 12:06] YCyberman commented on #14
Thank you for the answer.
What about if I create a class that extends the one I've in the jar?
I've tryed but still failing, in my opinion in this case the AST shoud be available at compile time due the dependecy of the new class. Am I wrong?

[2016-02-08 12:38] danielwegener commented on #14
@YCyberman The AST of your extending class is visible for intellij-cucumber-scala, the extended class (which contains the actual glue code) isn't, so that attempt will unfortunately also not work.
To clarify further: `ScalaDSL` glue code methods are method _invocations in the default contructor_, not method declarations on the class - thats why we cannot detect them in the AST (even if we inspect

[2016-02-08 13:43] YCyberman commented on #14
Got it!
Thanks a lot for clarifing.

Luigi

[2016-02-08 13:43] #14 closed

[2016-03-18 10:37] danielwegener opened #18 "Support IntelliJ 2016.1"
Do whatever needs to be done to support Support IntelliJ 2016.1 :)

[2016-03-19 13:21] danielwegener commented on #18
fixed by #19

[2016-03-19 13:21] #18 closed

[2016-03-19 13:30] danielwegener commented on #18
Cheers @athieriot ! 0.3.4 is [released](https://github.com/danielwegener/intellij-cucumber-scala/releases/tag/0.3.4) and should be in the [plugins repo](https://plugins.jetbrains.com/plugin/7460?pr=idea) soon.

[2016-03-19 13:33] athieriot commented on #18
Hey that's fantastic :)

Thank you for being so fast !

[2016-05-31 07:48] binil opened #20 "Unable to find step definitions"
![screen shot 2016-05-31 at 12 44 02 am](https://cloud.githubusercontent.com/assets/58774/15667039/e76d9354-26c8-11e6-98f3-26e10e098b9d.png)

I am trying to run the `basic_arithmetic.feature`, but the runner can't seem to find the steps. I am trying the basic cucumber-scala code, and my project is set up with Gradle. Here are the file contents:

[code]

[2016-05-31 13:18] danielwegener commented on #20
@binil Sorry to disappoint you, but this issue is rather related to cucumber-jvm/cucumber-jvm-scala or the cucumber-java intellij plugin.

This plugin here, intellij-cucumber-scala, does only provide the mechanism for glue code lookup in the editor. The actual test-execution is not influenced by it.

But yes, it is a bit confusing though ;)

[2016-05-31 13:21] danielwegener commented on #20
Might be something with the gradle classpath that intellij tries to extract. But I am not so much into gradle+scala+intellij.

[2016-06-01 06:32] binil commented on #20
Thanks @danielwegener !

I tried a java+gradle project and the step definitions were discovered correctly. Let me open a ticket with cucumber-java-plugin.

[2016-06-01 06:32] #20 closed

[2016-06-02 07:24] binil commented on #20
@danielwegener FYI, I raised this bug with Cucumber Java plugin and was promptly Declined. See https://youtrack.jetbrains.com/issue/IDEA-156907.

[2016-06-02 08:18] danielwegener commented on #20
@binil Maybe you did forgot to add the Glue parameter (the package that contains your glue code) to your the Test runner?
![screen shot 2016-06-02 at 10 16 06](https://cloud.githubusercontent.com/assets/2953619/15738389/51dce580-28ab-11e6-807c-63d7f8190f8a.png)

[2016-06-02 08:29] binil commented on #20
@danielwegener Ah, that was it! I added `cukes.rpncalc` as the glue and things work now. Thanks!

[2016-07-13 00:22] withsmilo opened #21 "Support IntelliJ 2016.2"
Cucumber for Scala 0.3.4 does not support IntelliJ 2016.2 version. :sob:

[2016-07-13 16:16] #21 closed

[2016-07-13 16:59] danielwegener commented on #21
Fixed in 0.3.5

[2016-10-14 11:17] justgook opened #23 "Update Plugin to 2016.3EAP - (>163.0)"
looks like u need to update `<depends>cucumber</depends>`  to `<depends>cucumber-java</depends>`

[2016-10-14 12:44] danielwegener commented on #23
Thanks, good to know. I'll investigate it this weekend.

[2016-10-17 07:25] justgook commented on #23
any updates ?

[2016-10-30 13:13] danielwegener commented on #23
Sorry - busy weeks. Could you please give https://github.com/danielwegener/intellij-cucumber-scala/releases/tag/0.3.6 a quick try? If you are happy, I'll publish it at the jetbrains plugin repo.

[2016-10-31 08:08] justgook commented on #23
![screen shot 2016-10-31 at 10 05 52](https://cloud.githubusercontent.com/assets/306976/19847774/c9332c4e-9f51-11e6-997a-dc78e5161c96.png)
looks like You forgot update dependencies (haven't look at code but i think it is about dependencies renaming as mention in first comment)

[2016-11-20 11:21] danielwegener commented on #23
Thanks for testing. Sorry that it took a while to keep up. Just published 0.3.7 (now also to the jetbrains repo).

[2016-11-21 14:23] justgook commented on #23
all works as expected ..

[2016-11-21 14:23] #23 closed

[2016-12-08 00:24] bpiper commented on #10
I think this would be a very valuable enhancement, particularly for those of us who have come from a cucumber-java world where per-scenario state could be nicely managed via Guice or Spring, and are struggling to see how to do anything remotely as convenient with ScalaDSL step-defs (and therefore want to cling to the Java annotations, which seem to work just as well as in Java, IDE support notwith

[2016-12-24 11:15] dejan2609 opened #24 "Can't install plugin into IDEA 2017.1 EAP (build: 171.1834.9)"
Can't install Cucumber for Scala plugin into IDEA 2017.1 EAP (build: **171.1834.9**): plugin is not offered in  repository (note: Java and Groovy plugin are just fine).

See attached snapshot:
![image](https://cloud.githubusercontent.com/assets/19467899/21466654/222efad0-c9d2-11e6-8f68-4f5cff165af3.png)

[2017-02-14 11:14] stela commented on #24
Same here for latest EAP, Build #IU-171.2822.15, built on February 1, 2017

Get the message "Error" "Plugin 'Cucumber for Scala' is incompatible with this installation" when I download it and choose "Install plugin from disk...". Nothing new in idea.log.
This is probably due to the versions range in META-INF/plugin.xml:
`<idea-version since-build="163.0" until-build="171.0"/>`
where until-build is

[2017-02-17 06:35] chaochana opened #25 "You cannot automatically create Steps yet."
Hi,

I'm new to Cucumber Scala and when try to generate steps from feature file. I've got this error message: "You cannot automatically create Steps yet."

Please help check. Thank you very much in advance.
If you need any further information, please let me know.

The trace detail is provided:

java.lang.UnsupportedOperationException: You cannot automatically create Steps yet.
	at com.github.danie

[2017-02-17 11:06] danielwegener commented on #25
Hi @chaochana. As the [feature overview](https://github.com/danielwegener/intellij-cucumber-scala/blob/master/README.md#features), this feature is indeed not yet implemented. It is tracked in Issue: #1

[2017-02-17 11:07] #25 closed

[2017-02-17 11:14] danielwegener commented on #24
Hi guys. Sorry that my github reaction time is quite poor at the time. I have to re-release intellij-cucumber-scala for each big new intellij release because it depends on the intellij scala plugin (and unfortunately its contained scala version). And since I can not forsee if the _next_ intellij major will include a new intellij scala plugin version with a new scala library version. To make sure t

[2017-02-17 11:36] chaochana commented on #25
Thank you for a quick response.
Looking forward to see this feature release, also Thank you in advance for this one :)

[2017-02-23 22:36] danielwegener commented on #24
Sorry, took a while. Please try https://plugins.jetbrains.com/idea/plugin/7460-cucumber-for-scala/32840-update and close this issue when you are happy :)

[2017-02-24 07:01] dejan2609 commented on #24
Installed moments ago (to IntelliJ IDEA Build #IC-171.3566.24).
Thanx @danielwegener ! 🏆

[2017-02-24 07:01] #24 closed

[2017-02-24 08:34] stela commented on #24
Got the update as well, appears to work like the old one but without the need of downloading and patching it. Thanks!

[2017-03-23 13:59] athieriot commented on #10
I would be quite interested by that feature as well. Happy to help also with a bit of a general direction

[2017-03-23 14:57] danielwegener commented on #10
Hey guys. Yes - PRs on this are very welcome. I currently do not really have time to invest into this project (for me It has been some time since I have used scala together with cucumber ).

[2017-03-23 14:59] danielwegener commented on #10
@athieriot  TBH - I don't want to call it "Lookin' for maintainer - abandoned otherwise" - but If you want to drive this project forward - I'd be happy to help out/hand over :)

[2017-03-23 15:38] athieriot commented on #10
Fair enough !
I would say I'm interested but I'm afraid I don't have much time either to do a proper good job at it.

I'm happy to help to the extends of my abilities though.

[2017-03-24 04:50] sinwe commented on #15
This seems to happen again with IntelliJ IDEA 2017.1

[2017-03-24 06:23] danielwegener commented on #15
Thats not cool. Maybe the scala PSI api has changed.

[2017-03-24 20:47] pbyrne84 commented on #15
I think there is something going on weird..

If debug
  @NotNull
  override val getStepFileType: BDDFrameworkType = {
    classOf[ScalaFileType].getDeclaredFields.foreach{ field =>
      println(field.getName)
    }

    new BDDFrameworkType(ScalaFileType.SCALA_FILE_TYPE)
  }

the fields match this implementation
https://github.com/JetBrains/intellij-scala/blob/1d3f21e7368216b0e0b26ad7b39ca1c978c2

[2017-03-27 09:36] pjedruszuk opened #26 "Plugin does not recognize step definitions in InteliJ Idea 2017.1"
After updating Idea to 2017.1 and Cucumber for Scala plugin to 2017.1.1, my steps are not recognized anymore:
![stepsnotrecognized](https://cloud.githubusercontent.com/assets/2520338/24350190/9bf548bc-12e1-11e7-9203-d43e5525e7f7.PNG)

Java steps are recognized properly, it seems, that only Scala is not being picked up.

[2017-03-27 18:14] pbyrne84 commented on #15
Okay I have created a repo with the new scala plugin zipped up to go over the old one

https://github.com/pbyrne84/scala-cucumber-deps
There is also a compiled plugin jar that now works

your travis will likely boo boo because it needs the to use this

https://github.com/pbyrne84/scala-cucumber-deps/blob/master/scala-plugin.zip

not the one downloaded by sbt updateIdea

[2017-03-27 22:51] sinwe commented on #15
Apparently someone just raise the same issue [here](https://github.com/danielwegener/intellij-cucumber-scala/issues/26l)

[2017-03-28 10:45] pbyrne84 commented on #15
Okay I fixed the dependency in the pull request so no monkey dancing needed
https://github.com/danielwegener/intellij-cucumber-scala/pull/27

[2017-03-29 07:11] danielwegener commented on #26
I think we released the 2017.1.1 too early (there seem to be a new incompatible scala plugin in the recent 2017.1EAP).

[2017-03-30 10:34] danielwegener commented on #26
Could somone please verify that https://github.com/danielwegener/intellij-cucumber-scala/releases/tag/2017.1.2 (the jar from the download section) works? If it does, I'll push it to the jenkins plugin store asap.

[2017-03-30 13:54] danielwegener commented on #15
I think we can close this zombie, the cause is not related with trait inheritance (follow up in #26 ).

[2017-03-30 13:54] #15 closed

[2017-03-31 03:56] mfoody commented on #26
Your updated jar worked for me. Thanks so much for creating and maintaining this project.

[2017-03-31 04:18] sinwe commented on #26
It works for me too

[2017-03-31 09:11] alinaboghiu commented on #26
Yep, works, thank you!!

[2017-03-31 10:09] danielwegener commented on #26
Aight, thanks for the retest. Ill publish it to the plugin repo.

[2017-03-31 10:11] danielwegener commented on #26
https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala/update/33898

[2017-03-31 10:11] #26 closed

[2017-03-31 10:13] danielwegener commented on #26
Ah yeah, all credits to @pbyrne84 - he/she took the time to dig into the idea-scala plugin code! Thanks for your contribution!

[2017-06-13 06:58] worasit commented on #25
I am looking forward to see this features as well. Hope you guys will release this feature in the near future.

[2017-06-20 15:24] sinwe commented on #15
The same issue happens again with 2017.2 EAP.

[2017-06-20 15:27] sinwe commented on #26
As I commented [here](https://github.com/danielwegener/intellij-cucumber-scala/issues/15), this issue happens again in 2017.2 EAP

[2017-07-25 04:03] zatekusen opened #28 "Plugin does not work with Intellij 2017.2.x"
Could you please make it work with the latest Intellij release?

Thank you very much.

[2017-07-25 08:05] marc0der commented on #28
Yes please, that would be greatly appreciated!

[2017-07-25 08:29] MartinHatas commented on #28
+1

[2017-07-29 10:16] #28 closed

[2017-07-29 10:22] danielwegener commented on #28
Please try https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala/update/37309 (didn't have time to fully test it on my own)

[2017-07-29 13:15] marc0der commented on #28
Not looking good for me so far. Anybody else try it?

When I download it manually and attempt to load it from disk I get _Plugin 'Cucumber for Scala' is incompatible with this installation_.

I'm running the latest IDEA:
IntelliJ IDEA 2017.2
Build #IU-172.3317.76, built on July 15, 2017
JRE: 1.8.0_152-release-915-b5 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.8.0-59-generic

[2017-07-29 13:23] danielwegener commented on #28
woops. forgot to upgrade the supported version range. try
https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala

[2017-07-29 13:25] marc0der commented on #28
That works, thank you!

On Sat, 29 Jul 2017 at 14:23 Daniel Wegener <notifications@github.com>
wrote:

[2017-07-29 13:28] danielwegener commented on #28
Sorry for the inconvenience. It is a bit annoying to have a plugin out there that depends on scala plugin version. I have to rebuild it for pretty much every new major intellij release because the underlying scala-plugin (and its scala-library) version could have changed. Normally I am quicker and release a new version already for the EAP

[2017-07-29 13:30] marc0der commented on #28
@danielwegener BTW, I would love to help moving this project forward to make it feature complete (and equivalent to it's Groovy and Java counterparts). Is it worth setting up a Gitter group to discuss?

[2017-07-29 14:27] danielwegener commented on #28
I am a bit hesistant to open up a gitter channel projects that are mostly doomed because of low interest. For the sake of discussing further development of this project, a github issue could serve the same purpose (or simply a private gitter message if you prefer).
I do not really use cucumber in combination with scala anymore since two years and therefore my maintenance time budget for this proje

[2017-07-31 14:38] sinwe commented on #28
@danielwegener I really appreciate the time and effort you put in this project. I also understand that when your professional work doesn't require this plugin anymore, it is hard to keep maintaining it all by yourself. However, I believe there are many more developers who are using scala and cucumber. My team at work is one of them and we are very dependent on IntelliJ, scala and cucumber. As such

[2017-07-31 20:06] marc0der commented on #28
@sinwe I totally agree with everything here. @danielwegener I think that a lot more people are dependent on this plugin than what you might be aware of. Many teams are using the combination of Scala, Cucumber and IntelliJ, and as @sinwe suggests, this is often the reason why we _can't_ upgrade to the latest version of IDEA.

I suggest that we really do open something like a Gitter channel for this

[2017-08-01 14:50] filfreire commented on #1
I'd like to help you out on this one.

[2017-08-05 14:31] danielwegener commented on #1
@filfreire Great, good to know! As far as I remember, it would be the easiest to depend on cucumber-java and extend their step creation wizard mechanisms. I'd welcome any PR for this issue.

[2017-12-04 09:26] zatekusen opened #29 "Add support for latest intellij 2017.3"
Could you please update the plugin to support intellij 2017.3

[2017-12-04 20:10] pbyrne-mdsol commented on #29
[Update_versions_2017.3.patch.zip](https://github.com/danielwegener/intellij-cucumber-scala/files/1528620/Update_versions_2017.3.patch.zip)

The scala version updated. This is a patch with the dependencies

[2017-12-05 11:12] jaina00 commented on #29
Hi .. m getting

Fail to load plugin descriptor from file Update_versions_2017.3.patch.zip

I downloaded the zip file and did "Install plugin from disk".

Regards

[2017-12-05 16:01] siliconcat commented on #29
That is just the patch to apply to the code. After applying the patch and packaging the application, you get the following plugin which you can install from disk...

[intellij-cucumber-scala_2.12-2017.3.zip](https://github.com/danielwegener/intellij-cucumber-scala/files/1531889/intellij-cucumber-scala_2.12-2017.3.zip)

[2017-12-05 22:01] danielwegener commented on #29
Please try https://github.com/danielwegener/intellij-cucumber-scala/releases/tag/2017.3.0 and close the issue when everything works for you.

[2017-12-13 09:06] zatekusen commented on #29
Thanks very much, the latest version is working well.

[2017-12-13 09:06] #29 closed

[2017-12-14 12:41] Hallborg opened #32 "Scenario Outline broken?"
I got some highlighting issues for Scenario outlines in the latest version of the plugin. (for intellij 2017.3)

1. Some text get the wrong colors in the feature files.
![highlight_issue_1](https://user-images.githubusercontent.com/7092252/33992425-cecd9b8a-e0d2-11e7-920d-72de38190178.png)

2.  refactoring placement values will report as missing step definition (will be fixed on restart of intelli

[2017-12-28 07:47] CyberGear opened #33 "Highligt is broken"
i have runner class

@RunWith(classOf[Cucumber])
@CucumberOptions(
  features = Array("src/test/resources/features"),
  glue = Array("cucumber.glue"),
  format = Array("pretty", "html:target/cucumber-report"),
  tags = Array("~@Integration","~@Ignore","~@Nightly", "~@nightly","~@NIGHTLY")
)
class RunAllTests

and steps class is defined

but lately intellij do not see steps, and cant link them to f

[2017-12-28 14:51] CyberGear commented on #33
All working, due to some data retainability problems, steps implementation class was made as object, converted back to class and moved sensitive values to objects

All good now - sorry :)

[2017-12-28 14:51] #33 closed

[2018-01-01 11:44] danielwegener commented on #32
intellij-cucumber-scala is only responsible for the linking between feature file lines and glue-code using the cucumber-scala api from the `cucumber.api.scala` package. I am not sure if the "plain" cucumber-plugin for intellij has changed the highlighting in 2017.3. Can you reproduce the same behavior using the java-dsl (`@Given/@When/@Then` annotations)?

[2018-01-04 01:07] danielwegener commented on #33
Yeah, cucumber scala dsl is a bit tricky and sometimes does not behave as expected (there is no real reason why "static"="objects" can not host glue code while it is perfectly fine in the java8 lambda java-dsl).

[2018-03-28 15:19] 60secs opened #34 "Not compatible with latest version of intelli/scala plugin (2018.1.8)"
After installing the latest Intellij version, I was unable to upgrade the scala plugin to the latest version until I uninstalled the scala cucumber plugin (message was that the version was incompatible).

Until I updated to the latest scala plugin version, I was unable to open/import/run any scala/sbt projects.

[2018-03-29 06:02] zatekusen commented on #34
For me I was able to upgrade everything fine, but the plugin does not work with Intellij 2018

[2018-03-29 10:01] pwhite1989 commented on #34
Upgrade for scala was fine for me too, but the cucumber for scala plugin does not work in 2018 version

[2018-04-03 06:57] danielwegener commented on #34
Thanks for the info. We need to recompile against the latest scala library bundled in the scala-plugin (aswell as the recent scala-psi library). Does anyone want to provide a PR?

[2018-04-03 10:32] macgrewal commented on #34
@danielwegener I'd be happy to do this but am not 100% sure what you mean.
Is this as simple as changing https://github.com/danielwegener/intellij-cucumber-scala/blob/master/build.sbt#L9 to use the latest scala-plugin (https://plugins.jetbrains.com/plugin/download?rel=true&updateId=44474) and raise a PR?

[2018-04-04 09:52] pbyrne-mdsol commented on #34
@macgrewal - there are a few other things such as change the download of the intellij community edition download and other plugins etc. but trying to run the environment locks my cpu close to 100% on all cores when I open a feature file which indicates the file analysis is trapped in a loop, I am going to try and work it out later.

Also need to update all the plugin version numbers and make sure

[2018-04-16 10:52] pwhite1989 commented on #34
Hi is there any update on this?

[2018-04-16 18:03] barkingcorndog commented on #34
I applied the patch from @pbyrne-mdsol and created a PR.

[2018-04-18 13:06] pbyrne-mdsol commented on #34
[intellij-cucumber-scala_2.12-2018.1.0.jar.zip](https://github.com/danielwegener/intellij-cucumber-scala/files/1924073/intellij-cucumber-scala_2.12-2018.1.0.jar.zip)

I created a zip of the jar (github being picky) of the patch file that is in https://github.com/danielwegener/intellij-cucumber-scala/pull/35 . The plugin seems to work but I had to do it blind as sbt "runIdea xxx" is locking up the

[2018-04-25 09:46] pbyrne-mdsol commented on #34
@bbutler99a - what intellij build are you using?

I am using
Build #IU-181.4668.68, built on April 24, 2018
Fine and have removed and restarted multiple times.

[2018-04-25 12:26] bbutler99a commented on #34
I am using that same build.  My JRE is 1.8.0_152-release-1136-b29

[2018-04-25 12:45] bbutler99a commented on #34
Correction, I am using the community edition, so build is #IC.  Does it need to go in a special folder?  I am putting the file in C:\Users\<USER ACCOUNT NAME>\.IdeaIC2018.1\plugins.
I also just realized I am running on windows server 2016 which is not listed as being supported.

[2018-04-26 17:43] pbyrne-mdsol commented on #34
@bbutler99a - I will play with the ce edition version at home tonight.

The jar should just go in the same folder as the one with a Scala folder etc.

Alternatively you can checkout this project
Apply the patch

1. sbt updateIdea  (downloads the stuff)
2. sbt publishPlugin - puts the jar I uploaded into target I think

you can then copy it skipping all the downloading and unzipping etc in case som

[2018-04-30 17:34] bbutler99a commented on #34
Thank you for your work.  I was out of town for a few days, and now I see we downgraded to IDEA 17.3.5, but we are having issues with it also.  If you have created a repo, I'll try it out.  If we go back to 2018.1 I'll try the patch.

[2018-05-23 13:30] msillence commented on #34
The old plugin used to be able to run the steps without defiing the glue but with @pbyrne-mdsol
 patch though I can navigate to the step definitions in the IDE I aways have to manually enter the glue path.

[2018-05-30 12:01] pbyrne-mdsol commented on #34
This plugin relies on the jetbrains cucumber java plugin. No code changes were made but changes may of occurred in the ides internals.

This sounds kinda similar
https://youtrack.jetbrains.com/issue/IDEA-192267

In my projects with steps and feature files all within scope this is not a problem.

So questions are
1. What is project layout?
2. Does navigation stop working when glue config is removed

[2018-06-05 18:59] pbyrne-mdsol commented on #34
The EAP jar from https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala
works fine for me.

Many thanks

[2018-06-29 16:07] danielwegener commented on #34
released as stable

[2018-06-29 16:07] #34 closed

[2018-06-29 19:07] pbyrne-mdsol commented on #34
Thank you :) believe it or not every time I try to navigate to github in chrome it prefers to navigate to this issue.

[2018-07-30 10:30] lawrencecraft opened #39 "Broken again on Intellij 2018.2"
Hi,

Just FYI, this appears to be broken once again on the latest update of Intellij. I get the same behavior that was observed earlier: no Cucumber steps match.

[2018-07-30 18:38] pbyrne-mdsol commented on #39
I will look into it. I have a question for @danielwegener, do you really want to keep the until version? It might be better to remove it and actually let it break when it is truly broken. Intellij is not very good at warning it will be broken anyway.

This also may be the last time I look at this plugin for a while. Not to sure about how cucumber filled my future will be.

[2018-08-09 07:28] Seetaramayya opened #42 "cucumber plugin is not available for IDEA 2018.2.1"
I am not able to install cucumber plugin for `Intellij community version 2018.2.1` either through `plugin` window or manual [download link](https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala).

This might be related to [issue 39](https://github.com/danielwegener/intellij-cucumber-scala/issues/39).

[2018-08-21 14:59] kditrj2d commented on #34
Running with IntelliJ 2018.2 and the latest JetBrains Scala plug-in (2018.2.10) and the problem may have returned.  The 'Cucumber for Scala' plugin will not load.  Below is an except from the IntelliJ logs.  The line of interest reads "Plugin 'Cucumber for Scala' can't be loaded because: Plugin since-build or until-build don't match this product's build number"

`2018-08-21 14:59:40,152 [   3476]

[2018-08-21 15:01] kditrj2d opened #43 "Not compatible with latest IntelliJ/Scala plugin (2018.2 and 2018.2.10)"
The issue described in https://github.com/danielwegener/intellij-cucumber-scala/issues/34 has re-appeared with the release of IntelliJ 2018.2 and JetBrains Scala plugin 2018.2.10.

See the comment at the end of issue #34

[2018-08-21 15:13] pbyrne-mdsol commented on #43
I think this never released
https://github.com/danielwegener/intellij-cucumber-scala/pull/41

Version number should be 2018.2.0
https://github.com/danielwegener/intellij-cucumber-scala/pull/41/files

Which is not what this page lists
https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala

[2018-08-21 15:16] kditrj2d commented on #43
This is a duplicate of https://github.com/danielwegener/intellij-cucumber-scala/pull/41
Closing...

[2018-08-21 15:16] #43 closed

[2018-08-22 18:00] danielwegener commented on #42
please try again
https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala/update/49133

[2018-08-22 18:01] danielwegener commented on #39
please try again:
https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala/update/49133

[2018-08-22 18:02] danielwegener commented on #39
thanks for your patience and contributions @pbyrne-mdsol :)

[2018-08-23 09:42] pbyrne-mdsol commented on #39
My pleasure  @danielwegener - though after tomorrow this account is technically dead.

I will switch back to my @pbyrne84.

I think I may of found a replacement for me if I do not end up doing cucumber again for a while.

[2018-09-11 11:05] wilsonr990 commented on #1
Any advance on it? I could probably work on it soon.

[2018-09-11 12:17] filfreire commented on #1
@wilsonr990 I ended up not picking this up, setting up the dev environment was confusing.
Feel free to try to do it, if you will.

/cc @danielwegener

[2018-12-26 15:50] avokin commented on #17
To calculate string concatenation it's possible to use `PsiConstantEvaluationHelper`:

[code]

[2018-12-27 00:59] danielwegener commented on #17
Hi @avokin! Thanks for your suggestion. Is there something equivalent for the `PsiConstantEvaluationHelper ` provided by the `JavaPsiFacade` also support scala literals? Or is there any equivalent for the scala psi model?

[2019-01-07 13:09] avokin commented on #17
Sorry for late reply, I missed notification. I've found `org.jetbrains.plugins.scala.lang.psi.util.ScalaConstantExpressionEvaluator` in Scala Plugin for IDEA.

[2019-07-19 19:11] MatheusHSA opened #45 "Test file does not recognize .feature file"
Hello! I'm trying to use Cucumber in a Scale project I'm working on, however when I try to run the tests I get the following error:
[code]
Thanks in advance.

[2019-07-23 19:11] MatheusHSA commented on #45
I managed to solve the problem.
I simply added a / at the end of the file location.

[2019-07-23 19:11] #45 closed

[2019-07-26 11:51] pwhite1989 opened #46 "Broken on IntelliJ 2019.2"
After updating to 2019.2 I get the following errors:

`java.lang.NoClassDefFoundError: org/jetbrains/plugins/scala/lang/psi/stubs/util/ScalaStubsUtil$
	at com.github.danielwegener.intellij.cucumber.scala.CucumberScalaExtension.$anonfun$loadStepsFor$1(CucumberScalaExtension.scala:66)
	at scala.collection.TraversableLike.$anonfun$flatMap$1(TraversableLike.scala:240)
	at scala.collection.IndexedSeqOp

[2019-07-29 10:18] mafupi commented on #46
Me too

[2019-08-01 11:24] pbyrne84 commented on #46
class seems to of been renamed with some of the methods.

https://github.com/JetBrains/intellij-scala/blob/idea191.x/scala/scala-impl/src/org/jetbrains/plugins/scala/lang/psi/stubs/util/ScalaStubsUtil.scala

https://github.com/JetBrains/intellij-scala/blob/idea192.x/scala/scala-impl/src/org/jetbrains/plugins/scala/lang/psi/stubs/util/ScalaInheritors.scala

[2019-08-02 14:32] dsunith commented on #46
I am facing as well same issue
Highlighting and Links are broken from feature file.

update failed for AnAction(com.intellij.lang.properties.create.AddNewPropertyFileAction) with ID=AddNewPropertyFile

java.lang.NoClassDefFoundError: org/jetbrains/plugins/scala/lang/psi/stubs/util/ScalaStubsUtil$
.........
Caused by: java.lang.ClassNotFoundException: org.jetbrains.plugins.scala.lang.psi.stubs.util

[2019-08-02 15:40] pbyrne84 commented on #46
Yeah I have been looking at this/ am looking at this.

Basically in 2019.2 there has been a lot of re-organisation within idea. The tool chain this plugin relies on appears to be a bit borked with the re-organisation. I need to verify I am not insane and there is truly an issue with the build process this plugin relies when using idea ce 2019.2 as a build source and try and get the issues rectifie

[2019-08-06 17:02] AuctionEdgeCurtis commented on #46
Thanks Daniel for looking into this.

[2019-09-14 14:35] arielf-camacho commented on #46
Hi to everyone, had there been any progress in the resolution of this problema. I'm facing it too.

Regards

[2019-09-23 01:05] jecklgamis commented on #46
I'm experiencing the same problem..

Intellij version:
IntelliJ IDEA 2019.2.1 (Ultimate Edition)
Build #IU-192.6262.58, built on August 20, 2019

[2019-09-25 12:34] waynetrew commented on #46
I'm having the same problem as the above post - except I'm on version Intellij 2019.2.3, plugin 2018.2.0

[2019-09-30 15:56] msillence commented on #46
Looks like we also need to upgrade the dancingbear sbt-idea-plugin as that's been replaced by https://github.com/JetBrains/sbt-idea-plugin

[2019-09-30 21:54] aksharp commented on #46
Same, getting this error:
[code]

[2019-10-21 10:09] DominiquePetrich1709 commented on #46
Are there some news?
Have same issue in version 2019.2.3 ultimate edition on Ubuntu.

[2019-11-06 07:32] kamontat commented on #46
Any news update ?

[2019-11-21 08:15] zsolt-donca commented on #46
Hi! I have the same issue:

[code]

Any news on the update?

Thanks.

[2019-11-21 16:48] pwhite1989 commented on #46
There is a potential fix as described here: https://plugins.jetbrains.com/author/1419d8eb-e04e-493b-931d-9d31257142d4/comments

[2019-11-22 11:08] zsolt-donca commented on #46
Hi, @pwhite1989 ! Thanks for the update. However, I must say that the plugin still doesn't seem to work for me. I followed the instructions, installed the plugin .jar file from disk, and basic feature such as "Navigate from feature step to step definition" still don't work; the `NoClassDefFoundError` errors disappeared, however.

I must say that I've never seen this plugin working - I started usin

[2019-11-25 14:02] peter-gyorgyan-cg commented on #46
As of 25 Nov. Vincent Vinnicombe's fix worked for me. Just followed the steps.  Thx pwhite1989

[2020-01-01 11:14] acmoune commented on #46
Still broken with Intelijj 2019.3

[code]

[2020-02-03 13:52] danielwegener commented on #46
I'd be happy if it would be picked up :)

Released a new version for 2019.3.2

[2020-02-03 13:52] #46 closed

[2020-02-03 13:55] #42 closed

[2020-02-03 13:56] danielwegener commented on #39
Please try https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala/update/77214

[2020-02-03 13:56] #39 closed

[2020-02-04 07:25] DominiquePetrich1709 commented on #46
Thank you for fix it :)

[2020-02-24 17:03] suvroroy commented on #1
Folks, any word on this when this will be done?

[2020-04-10 10:57] vbmacher opened #48 "Upgrade to 2019.3.4"

[2020-04-11 12:20] zsolt-donca opened #50 "Support for IntellIJ IDEA 2020.1"
The current version of the plugin doesn't seem to support the recently released IDEA version 2020.1. I installed the plugin through the built-in Plugins section, and the version appears `2018.2.0 Feb 03, 2020`.

The issue is that the analysis of a .feature file doesn't seem to every finish (the little eye icon in the top-right corner doesn't disappear), and the highlighting of the steps in the .fe

[2020-04-12 19:01] vbmacher commented on #32
I have tested it with current version of plugin and it works. Attaching screen-shot.
![Screenshot from 2020-04-12 20-58-02](https://user-images.githubusercontent.com/344077/79077280-c06c0c80-7d00-11ea-850b-6a1136d649d5.png)

[2020-04-12 19:02] vbmacher commented on #32
Also, after refactoring the `v` to `value` still works. The step is defined as:

[code]

[2020-04-12 19:02] vbmacher commented on #32
I'm going to close this.

[2020-04-12 19:02] #32 closed

[2020-04-12 19:03] vbmacher commented on #50
Thanks for reporting, working on it now.

[2020-04-12 19:17] vbmacher opened #51 "On change of step definitions, feature file should be re-parsed"
In Idea 2020.1, when changing step definition parameter, e.g. from:
[code]
to

[code]

the feature file won't highlight:

[code]

It's needed to close & open the feature file again.

[2020-04-12 20:12] vbmacher commented on #17
Thanks for the tip, I tried it, and it seems it works.

[2020-04-12 20:24] vbmacher commented on #17
What should work now:

[code]

In feature file:

[code]

[2020-04-12 20:25] vbmacher commented on #17
But calling a function inside definition (even if it's a `val`) does not work.

[2020-04-12 21:36] danielwegener commented on #17
Yeah I think we can not get any better :) nice

[2020-04-13 07:40] vbmacher commented on #48
Done

[2020-04-13 07:40] #48 closed

[2020-04-13 08:04] vbmacher commented on #17
Released in https://github.com/vbmacher/intellij-cucumber-scala/releases/tag/2020.1

[2020-04-13 08:04] #17 closed

[2020-04-13 08:04] vbmacher commented on #50
Released in https://github.com/vbmacher/intellij-cucumber-scala/releases/tag/2020.1

[2020-04-13 08:04] #50 closed

[2020-04-14 21:37] vbmacher commented on #51
Fixed by commit de5ae5d

[2020-04-14 21:37] #51 closed

[2020-04-16 06:44] vbmacher commented on #2
I would say that a real cucumber step-method is such that:

- lies inside `cucumber.api.scala` package
- has non-empty step regex

[2020-04-16 07:01] #2 closed

[2020-04-16 09:16] zsolt-donca opened #54 "Glue code no longer recognized in traits since latest update"
Glue code defined in traits no longer appears to be recognized by the plugin since the IntelliJ 2020.1 update; it worked fine on IntelliJ 2019.3.

In our codebase, we like to organize our glue code into separate traits, which we all mix together into a single class. So we have something like this:

[code]

The step `When doing something special` is not recognized in the .feature file (it is highli

[2020-04-16 10:12] vbmacher commented on #54
Yes, I confirm that. Thank you for reporting

[2020-04-16 11:00] vbmacher commented on #54
You can test it against the `development` branch. It should work now.

[2020-04-16 15:20] vbmacher opened #56 "Support Find usages & references"
As I understand it, if `ScalaStepDefinition` extended also `PomNamedTarget`, it will be navigable as a whole, so it would be possible to run "Find usages" on the step definition regex. This can lead to find usages of the step definition directly in the gherkin file.

I guess we need:
- implementation of `PomDeclarationSearcher` which will search for navigable step definitions
- implementation of `

[2020-04-16 16:03] vbmacher commented on #4
I guess this issue can be closed in favor of #56 .

[2020-04-16 16:03] #4 closed

[2020-04-16 16:08] #56 closed

[2020-04-16 16:10] vbmacher commented on #11
I'm going to work on this one now.

[2020-04-16 16:15] vbmacher commented on #3
Hm. I don't know what should be documented. Do users want something specific to be documented ? :)

[2020-04-18 12:52] vbmacher opened #59 "Implement some searching details"
Like:
- "View usages" dialog currently displays "Sc Step Definition", but we want "Step definition"
- Step definition caching when used by `StepDeclarationSearcher`
- Fix `StepFindUsagesHandlerFactory.canFindUsages` (missing match for `PomTargetPsiElement`)
- Return true variable names of the step definition (`ScStepDefinition.getVariableNames`)

[2020-04-18 13:02] #54 closed

[2020-04-18 13:03] #59 closed

[2020-04-18 13:13] vbmacher commented on #11
Hm, it doesn't quite work as expected. I don't really know which type to put as the parameter to `ItemPresentationProvider`. This class is not documented at all.

In groovy plugin source code,  [GrStepDefinitionPresentationProvider](https://github.com/JetBrains/intellij-plugins/blob/master/cucumber-groovy/src/org/jetbrains/plugins/cucumber/groovy/steps/search/GrStepDefinitionPresentationProvider.j

[2020-04-18 13:16] vbmacher commented on #1
I'm going to try to implement it now :)

[2020-04-19 12:42] zsolt-donca commented on #54
Thank you, I can confirm that the latest build from `development` works!

[2020-04-19 15:32] vbmacher commented on #54
You're welcome :)

[2020-04-22 15:15] vbmacher commented on #1
Good people please try it. Step creation should work, but for now without template.

[2020-04-26 13:23] vbmacher opened #62 "Prepare for upgrade of cucumber-scala to 5.x"
There are lot of changes in cucumber-scala project happening now, bringing more Java-like compatibility. See https://github.com/cucumber/cucumber-jvm-scala/blob/master/docs/upgrade_v5.md

[2020-04-26 16:59] gaeljw commented on #62
I was just about to open the issue as I noticed that navigation in feature files doesn't work anymore while I'm working on the 5.x branch...

If I can help, please tell me :)

[2020-04-26 20:55] vbmacher commented on #62
Hi Gael, I kind of expected that. I didn't study the cucumber-scala changes yet, but I had the feeling like the changes are breaking so I preventively opened the issue :)

Regarding your offer - would you like to implement it? I would be happy if you do. For now, I didn't know if the cucumber-scala code is finished (I think it's not released yet) so therefore the name "prepare" in the title.

[2020-04-27 06:24] gaeljw commented on #62
Indeed, nothing released yet. I'd like to include some other stuff before releasing, I guess we can expect a release by the end of this week or the next one.

I don't know the plugin code but I guess the only breaking change with impact is the package renaming.

I can sure have a look and open a PR ;)

[2020-04-27 08:04] vbmacher commented on #62
If the package name change is the only thing (haven't tried it yet), it should be enough to change constants in `ScCucumberUtil`:

[code]

[2020-04-27 11:12] gaeljw commented on #62
Do you think it's possible to be backwards compatible?
It will take some time for people to use the new Cucumber Scala 5.x and it would be great if the plugin could navigate from feature to step, no matter if Cucumber Scala 4.x or 5.x is used in the project.

The template definition will probably be for 5.x with a comment saying how to make it 4.x compatible.

[2020-04-27 11:37] gaeljw commented on #62
I've open a draft PR to which we can have a look when Cucumber Scala 5.x is released.

I don't know how to test it though. Building locally and installing the plugin locally on my IntelliJ instance maybe?

[2020-04-27 12:33] vbmacher commented on #62
I was thinking exactly the same - if we can make the changes bw compatible. I think we can, because plugin real dependencies do not include cucumber-jvm-scala, fortunately - it operates just on the syntax level.

[2020-04-27 12:37] vbmacher commented on #62
And thanks for PR btw, it looks OK to me. Regarding testing, this project unfortunately does not have unit tests yet. So for now, there are two options:

- compile and install plugin locally
- run `runIde` gradle task which runs dev version of IntelliJ installed with just needed plugins - ie. gherkin, java, cucumber-java, scala, and intellij-cucumber-scala.

I use the second option, and when it is

[2020-04-29 16:48] gaeljw opened #64 "Be able to navigate to step definitions from libraries"
# Expected behavior
Given you have some step definitions in l a common library
When you use these steps from a feature file in your project
Then the navigation from feature file to step definition should work

# Current behavior
Navigation doesn't work, steps are not identified

# Other details
I have no idea if this is doable or not but the idea would be to extend the scope in which the plugin lo

[2020-05-05 16:39] gaeljw commented on #62
I just made the PR "ready for review" @vbmacher ;)

[2020-05-06 06:05] vbmacher commented on #62
I have merged the code, thanks for your work :) I think we can now close this issue.

[2020-05-06 06:30] gaeljw commented on #62
Sorry but I think you closed the MR without merging because I've got this message: _This pull request is closed, but the gaeljw:ready-for-v5 branch has unmerged commits_ and merging should have closed the issue automatically :thinking:

[2020-05-06 06:57] #62 closed

[2020-05-06 06:58] vbmacher commented on #62
Oops, I thought it's been merged, sorry. I've reopened the PR, and merged it now. Thanks for pointing out..

[2020-06-06 09:00] vbmacher commented on #64
This is a good idea. I'm sure it's somehow possible, but I don't have currently time now to implement it.

[2020-06-06 09:00] vbmacher opened #65 "Write unit tests"

[2020-06-08 07:43] vbmacher opened #66 "Prepare for 2020.2"

[2020-06-15 12:37] vbmacher commented on #64
@gaeljw  I was looking into this a bit, and it seems it's not that easy. Currently the plugin finds step definitions using PSI model and Scala AST. Step definitions which are found are PSI elements (e.g. `ScMethodCall` defined in the Scala IntelliJ plugin), which are then used by navigation. With this it is possible to have syntax errors and un-compilable code but still it is possible to navigate

[2020-06-15 12:43] vbmacher commented on #10
Guys, is this feature still requested?

[2020-06-15 15:43] gaeljw commented on #64
Okay I understand. Thanks for looking into it.
I'll give it a try to see if it works with sources attached because indeed the use case I was thinking is a library for which source is not published so we cannot do much with that..

[2020-06-16 07:06] vbmacher commented on #1
Template wizard is finished - argument names now can be changed during creation of a step in the editor.

[2020-06-16 07:06] #1 closed

[2020-06-16 07:09] vbmacher opened #69 "Steps created using wizard are not recognized"
For example, if a following step is created using wizard:

[code]

The step:

[code]

is not resolved by the plugin

[2020-06-16 07:16] vbmacher commented on #69
The reason is that method `ScStepDefinition.getCucumberRegexFromElement()` is used by gherkin plugin for matching the step with step definition. And this method should return real Java regex. Instead it returns this cucumber-like regex, with various `{int}` and other parameter "regexes". It's coming from cucumber library which generates such snippets.

Solution which I see is to replace this stuff

[2020-06-16 07:21] vbmacher commented on #64
Ok, thanks. If you have some results with the library with sources, please share them here so I can either close the issue or maybe fix it if it didn't work.

[2020-06-16 07:23] #69 closed

[2020-06-16 07:32] vbmacher opened #71 "Update cucumber-jvm-scala to 6.1.1"

[2020-06-21 13:40] gaeljw commented on #64
Hello @vbmacher, I tried with attached sources and doesn't seem to work: the step is greyed and the "ctrl+click" doesn't work: _"Cannot find declaration to go to"_.

[2020-06-30 12:57] vbmacher commented on #64
Thanks for info, and sorry for having to wait. I'm going to look at it now.

[2020-06-30 13:11] vbmacher commented on #64
Hm, the problem seems to be in getting the search scope where the plugin searches for step definitions:

[code]
I thought it should work when the library source is attached. I used gradle, and the library was attached as classic dependency. I had to tell IDEA to attach the sources since it was a local library.

But it didn't work. I have checked and the library is attached in the **project scope**

[2020-06-30 15:21] gaeljw commented on #64
This is really great news !! :+1:
Thanks for taking the time to work on it

[2020-06-30 16:19] vbmacher commented on #64
Thank you! I'm very glad when it is useful :)

I would like to do some unit tests before closing the issue. Do you think you can try it also? Thanks

[2020-06-30 18:01] gaeljw commented on #64
I retrieved your latest commit and ran `gradlew runIde`, then I added a library to the project and attached sources manually, it doesn't seem to work.
But as I don't know much gradle, maybe it's more an issue with the way I wanted to test.

The source files is reachable though but the step definition in the `.feature` file is still greyed and I have the message "Cannot find declaration to go to".

[2020-07-01 15:31] vbmacher commented on #64
Interestingly I forgot to change also input filter when building index of step definitions. This index parses Scala files and saves offsets where a step definition is. The input filter decides which files to parse. Before there was:

[code]

Apparently library even if the source is attached is not considered as "source content"... I don't understand it very good to be honest, but after removing th

[2020-07-01 15:38] vbmacher commented on #64
Regarding how I set it up:

I had created a library first. It does not matter how you develop it, I just made sure it was published in local Maven repository. Then I created a really simple Gradle project which used this library. The `build.gradle` is as follows:

[code]

The `cucumber-steps` is the library with stepdefs deployed in Maven local, including sources.

IDEA opened this project but I h

[2020-07-01 18:30] #71 closed

[2020-07-01 19:16] gaeljw commented on #64
Just tried latest commit, it works! Congrats!

[2020-07-01 21:20] vbmacher commented on #64
Great! Thanks for the cooperation :) Im closing the issue now

[2020-07-01 21:21] #64 closed

[2020-07-05 22:06] dinchand opened #73 "The step definitions do not autocomplete in Idea 2020.1"
**Describe the bug**
Scala step definitions do not autocomplete but the tests succeed. And  tried to add a step with java @When which seems to work fine.

**To Reproduce**
Steps to reproduce the behavior:
[examples.zip](https://github.com/vbmacher/intellij-cucumber-scala/files/4875756/examples.zip)

**Expected behavior**
Autocomplete should work

**Screenshots**
If applicable, add screenshots to h

[2020-07-06 08:58] vbmacher commented on #73
Hi! Have you tried it within Idea 2020.2 EAP? For 2020.2 there is new version of the plugin which fixes many things.

Version of Idea 2020.2 should be released this summer (https://confluence.jetbrains.com/display/IDEADEV/IDEA+2020.2+latest+builds) so it does not make sense for me to fix the plugin for earlier versions.

[2020-07-06 10:32] dinchand commented on #73
Tried now with 2020.2 EAP. Somehow the plugin installation says not compatible

[2020-07-06 10:36] dinchand commented on #73
Unable to add attachments but plugin version 202.5958.24-EAP-SNAPSHOT
Intellij EAP version 2020.2 EAP build 202.6109.22

[2020-07-06 11:51] vbmacher commented on #73
Oh that's why. Since 2020.2 is still not released, Jetbrains still changes API (with new builds) effectively making this plugin incompatible. For testing you need specific version - 202.5958.24.

I am gradually updating EAPs to new builds as they come and re-releasing the plugin, but it take some time.

[2020-07-06 13:17] vbmacher opened #74 "Upgrade to Cucumber 6.2.0"
There is a release: https://github.com/cucumber/cucumber-jvm-scala/releases/tag/v6.2.0

[2020-07-06 13:18] vbmacher commented on #74
Updated in ed16b0ab565

[2020-07-06 13:18] #74 closed

[2020-07-06 13:30] vbmacher commented on #73
Ok, so you might try using new release of the plugin: https://plugins.jetbrains.com/plugin/7460-cucumber-for-scala/update/91071 . It's ready for Idea 202.6109.22

[2020-07-06 17:13] dinchand commented on #73
@vbmacher Thanks a lot. Works perfectly now ! Also saw the other ticket about auto-complete of Step definitions from libraries. This plugin version is definitely a great improvement. Kudos !!!!

[2020-07-07 06:06] vbmacher commented on #73
Glad to hear! And thank you for feedback :) I'm closing the issue now.

[2020-07-07 06:06] #73 closed

[2020-07-30 12:19] vbmacher opened #75 "Intellij 2020.2 update"

[2020-07-30 12:48] #75 closed

[2020-08-13 13:07] james-work-account commented on #75
I'm unable to navigate through Feature files in IntelliJ 2020.2 - am I missing something? I have the following installed:

- IntelliJ Ultimate version: 2020.2
- Plugins:
  - Scala 2020.2.23
  - Cucumber for Scala 2020.2
  - Gherkin 202.6397.21

[2020-08-14 12:40] vbmacher commented on #75
@james-work-account Please create new ticket and describe your problem in more detail, possibly include screenshots. Quick tip: has indexing finished when you tried to do the navigation?

[2020-08-14 22:49] bjhartin opened #77 "Navigation to steps doesn't appear to work in 2020.1.2"
**Describe the bug**

I can't navigate to the steps in your example project.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone and open your project in IntelliJ, allowing it to read the gradle build
2. Click on the feature file in the examples dir
3. Note that the steps are highlighted yellow and you can't click on them.

Hovering gives me the choice to create a step definition, but clic

[2020-08-15 02:28] bjhartin commented on #77
Hmm...closing this because I'm not sure that was the issue.  Upgrading to 2020.2 fixed it, but I'm not sure there wasn't something fouled in my configuration.

[2020-08-15 02:28] #77 closed

[2020-09-17 06:31] vbmacher opened #78 "Line markers are shown incorrectly"
Line markers are those which show cucumber icon next to a line which is supposed to be a step definition. This however doesn't filter out methods, which structure is the same as of the true step definitions, but which are not such. For example:

[code]

[2020-09-17 06:33] vbmacher opened #79 "Update for Intellij 2020.2.2"

[2020-09-17 09:49] #79 closed

[2020-09-18 10:24] vbmacher commented on #78
Broken regression

[2020-09-18 10:25] #78 closed

[2020-10-28 15:46] netherial opened #80 "Upgrade to Scala 2.13.3"
If possible with Cucumber 6.8.* - but mainly the Scala version is important in this feature request.

[2020-10-28 16:11] vbmacher commented on #80
Thanks for the request, @netherial .

I must do some analysis first. This plugin is traversing Scala AST and Scala Psi model when looking for step definitions. I don't know what is different in Scala 2.13. I hope it will be compatible / no-change.. If not, I don't know if it is a good idea to have 2 plugin versions for various Scala.

[2020-10-28 19:37] netherial commented on #80
Thank you @vbmacher for analyzing this. I hope it will be a quick win.
I am looking forward to the outcome of your investigation.

[2020-10-30 05:03] vbmacher commented on #80
So, I did some analysis on this. Actually I didn't realize that doesn't matter on Scala version at all. Because Scala plugin in IntelliJ is able to handle any Scala version and it parses it into unified Psi structure. So this requirement doesn't need any changes - it should work out of the box. I tried it, and it works. Did you actually try it?

[2020-10-30 20:22] netherial commented on #80
Hmm, that's surprising. I've tried it already with multiple IJ versions (2019.1.1, 2020.2.3) but it does not work for me.
How could I debug / figure out what is the problem then in the background?

I am wondering if there is any special requirement for the plugin regarding the project structure.
Currently my project where the plugin is tested and not working:
- runs with Gradle 6, Java11 and Scala

[2020-11-02 11:49] vbmacher commented on #80
I'm sorry I didn't have much time on weekend to look at it. However what I did was I upgraded example from this project to Scala 2.13 (just example, not complete project) and used standard plugin installed from Plugin portal. It had matched step definitions and feature files as expected.

But I believe you there might be some cases in which it doesn't work. It would be very helpful if you could pr

[2020-11-02 21:46] netherial commented on #80
Is that possible that the cause is the Cucumber version? I use Cucumber 6.8.1.
I am going to try it with a lower version as well to compare the results.

When I done with this without luck I will prepare a small sample project to demonstrate the issue.

[2020-11-05 16:25] vbmacher commented on #80
It is possible. I will update the plugin now for IntelliJ 2020.2.3 and Cucumber 6.8.2

[2020-11-05 16:27] vbmacher opened #81 "Update for IntelliJ 2020.2.3"
Also update Cucumber 6.8.2, Scala plugin to 2020.2.49, Gherkin plugin to 202.7660.3

[2020-11-05 16:42] #81 closed

[2020-11-05 16:43] vbmacher commented on #80
Please update your plugin and let me know if it works or not, thanks!

[2020-11-05 23:16] netherial commented on #80
I've verified it and works properly. Thank you for the update Peter! 🥇

[2020-11-05 23:16] #80 closed

[2020-12-02 07:18] aartigao opened #83 "Not working on 2020.3"
Hey! Just updated the plugin along with latest 2020.3 IntelliJ and:

[code]
I guess something needs to be changed in order to work with current build. I can't help much more, because never seeing the internals of an IJ plugin but hope the message is meaningful to you 😄

[2020-12-02 17:27] vbmacher commented on #83
Hey @aartigao , the plugin needs to be updated with newest version of IntelliJ SDK. It's a manual process, because it might involve code changes (solving incompatible API or fixes). Let me look at this one, thanks!

[2020-12-02 18:52] vbmacher commented on #83
Plugin has been updated, fixed and released. Enjoy :)

[2020-12-02 18:52] #83 closed

[2020-12-07 10:29] vbmacher opened #86 "Add .scalafmt"
- max 120 chars on line is recommended
- 2 spaces
- ???

[2020-12-07 12:40] vbmacher opened #87 "Enable matching escaped variables"
This explains it well:
https://cucumber.io/docs/cucumber/cucumber-expressions/#escaping

[2020-12-07 12:44] vbmacher opened #88 "Enable matching custom parameter types"
The request initiated in https://github.com/vbmacher/intellij-cucumber-scala/pull/85 . This PR introduces just matching any text between `{}` as `.*` regex enabling to match custom types.

It will be nice if it translated into custom-type regex as defined in the code. I'm not sure if that's even possible since the code would need to be interpreted - custom types are recognized at runtime. Well, I'

[2020-12-15 09:53] gaeljw opened #89 "Unable to type some characters in DocStrings"
**Describe the bug**

When writing a scenario in a `.feature` file, inside a DocString block (`"""..."""`), some characters like the comma (`,`) are automatically removed by IntelliJ.

**To Reproduce**

1 - Create a feature file like this:

[code]

2 - Try to add `, "key3": "val3"` at the end of the "key2" line by typing it (not copy-paste)

3 - The comma disappear by itself!

4 - If you remove th

[2020-12-17 09:12] vbmacher commented on #86
Maybe this can be used: https://github.com/diffplug/spotless/tree/main/plugin-gradle#scalafmt

[2020-12-17 09:20] vbmacher commented on #88
Possible algorithm:
- Find valid `ParameterType` definitions (make sure they're from ScalaDSL) which are in scope
- If a parameter type is involved, try to find regex there and use that as replacement in `ScStepDefinition.replaceParametersWithRegex`

[2020-12-17 09:32] vbmacher commented on #88
ParameterTypes can be defined:
- by calling `def ParameterType(name, regex)` method
- or by creating `new ParameterTypeBody(name, regex)`

[2020-12-18 14:12] vbmacher commented on #89
Hi @gaeljw , this is odd! I didn't find time to check this in my Idea, but on the first sight it looks like issue of Scala plugin. Scala plugin parses `.scala` files and provides features like code highlighting, intentions, etc.

Cucumber IDEA plugin on the other hand uses AST or Psi tree from Scala plugin and it does not change it. It actually changes it only when a step definition is to be gener

[2020-12-18 15:25] gaeljw commented on #89
Indeed, I just spent few minutes to disable plugins one by one and the curlprit is Scala plugin, not related to Cucumber plugin.

Thanks for taking time to read :)

[2020-12-18 15:25] #89 closed

[2020-12-31 06:23] vbmacher commented on #88
It seems that algorithm outlined in https://github.com/vbmacher/intellij-cucumber-scala/issues/88#issuecomment-747317234 works. Currently, it recognizes `ParameterType` definitions in scope of any step definition. What won't work is registration of `ParameterType` in `before` or `beforeAll`. I don't know if this is actually valid from cucumber-scala point of view.

[2020-12-31 06:57] #88 closed

[2021-01-01 10:03] #87 closed

[2021-01-01 10:06] vbmacher commented on #10
Closing since I think Scala DSL of cucumber has improved a lot. It seems it has all features which Java variant has (or at least I'm not familiar with any differences). Since the project is about to support cucumber-scala, in my opinion it should stick with Scala DSL.

[2021-01-01 10:06] #10 closed

[2021-01-01 15:17] vbmacher opened #92 "Idea 2020.3.1"

[2021-01-01 15:43] #92 closed

[2021-01-01 16:09] gaeljw commented on #88
I'm late to the party but this is not something we encourage or document either. Actually, I think it wouldn't event work.

By the way great work on the latest release 👍

[2021-01-02 21:33] vbmacher commented on #88
Thank you @gaeljw, I should have asked you earlier. I also thought using ParameterType in `before` is weird, but I wasn't quite sure about `beforeAll`. Anyway, the plugin doesn't support any of those.

And also thanks for nice words! The work I do here is only possible because of improvements of cucumber-jvm-scala ;)

[2021-01-06 20:43] #86 closed

[2021-01-25 13:58] #3 closed

[2021-02-06 18:15] michalmela-tomtom opened #95 "High CPU usage and lots of exceptions in idea.log"
**Describe the bug**
 * CPU usage in Activity Monitor spikes up 300-600%, JIT Compiler CPU usage stays at aroun1 100%, other sub-processes seem to stay at rather low and expected CPU Usage values.
 * idea.log is riddled with occurrences of the following exception:

[code]

**To Reproduce**
Have the IDE running with the Cucumber for Scala enabled.

Observed for a few days now, but I cannot pinpoint

[2021-02-09 09:50] vbmacher commented on #95
Hi @michalmela-tomtom , thanks for reporting. I'll have a look.

[2021-02-09 10:00] vbmacher commented on #95
Could you please try the plugin on development branch ?

[2021-02-11 05:26] vbmacher commented on #95
Exceptions in log have been fixed. I do not observe high CPU usage.

[2021-02-11 05:26] #95 closed

[2021-03-19 06:28] vbmacher opened #96 "Release for IntelliJ 2020.3.3"

[2021-04-08 09:27] cameron-russell opened #98 "Support for IntelliJ 2021.1"
The step definitions in .feature files can no longer be found in IntelliJ 2021.1.

JetBrains Scala plugin version: 2021.1.16
JetBrains Cucumber for Java plugin version: 211.6693.111

[2021-04-08 12:13] #96 closed

[2021-04-08 12:13] vbmacher commented on #98
Thanks for reporting!

[2021-04-08 12:47] vbmacher commented on #98
Support for IntelliJ 2021.1 is now released. Enjoy!

[2021-04-08 12:47] #98 closed

[2021-04-12 09:38] borissmidt opened #100 "Custom types not supported anymore."
In the past i did the PR #85 but it seems now that it doesn't work anymore with version 2021 so i had to roll back to version 2020.3 instead.

I.e. the navigation doesn't detect any matching with a custom type like
"my step uses {time}".

[2021-04-18 06:09] vbmacher commented on #100
Hi @borissmidt , can you please post a simple example which does not work? Thanks

[2021-04-18 06:16] vbmacher commented on #100
This works very well:

[code]

Feature file:

[code]

[2021-04-27 08:31] #100 closed

[2021-07-28 12:39] chrishaynes opened #101 "Doesn't work with Build 212 released 27-07-2021"
**Describe the bug**
Not compatible with Build 212 of IntelliJ, released on 27th July 2021.

**To Reproduce**
Steps to reproduce the behaviour:
1. Launch IntelliJ 2021.2.
2. Show Preferences > Plugins.
3. See error: "Incompatible: requires IDE build 211.* or older".

**Expected behaviour**
Well, it should work.

**Desktop (please complete the following information):**
 - OS: macOS Catalina 10.15.7

[2021-08-01 07:25] vbmacher commented on #101
I'm on it, hold on

[2021-08-01 08:00] vbmacher commented on #101
DONE, try it out!

[2021-08-01 08:00] #101 closed

[2021-09-21 06:02] vbmacher opened #103 "IntelliJ IDEA 2021.2.2"

[2021-09-21 06:45] #103 closed

[2021-12-01 12:18] effiban opened #104 "Support for IDEA 2021.3"
Hi @vbmacher , I've just upgraded my IDEA to 2021.3 and I see that the plugin hasn't been upgraded to support it yet.
Do you have an estimate when this upgrade can be done?

Thanks

[2021-12-02 11:11] vbmacher commented on #104
Im working on it now

[2021-12-02 11:20] vbmacher commented on #104
Done, released

[2021-12-02 11:20] #104 closed

[2021-12-02 11:40] effiban commented on #104
that's great, thanks!

[2022-04-14 07:35] craigtd opened #105 "Support for IDEA 2022.1"
Hi @vbmacher - after upgrading IDEA to 2022.1 (`Build #IU-221.5080.210`) this plugin is reporting as not compatible so wanted to let you know. Thanks.

[2022-04-18 11:10] vbmacher commented on #105
Thanks @craigtd , working on it

[2022-04-18 11:59] vbmacher commented on #105
The update has been released, check it out!

[2022-04-18 11:59] #105 closed

[2022-07-27 09:07] james-work-account opened #107 "Support for IntelliJ 2022.2"
Hi @vbmacher, my IntelliJ updated itself to version 2022.2 (build IU-222.3345.118) today and my plugin is reporting as incompatible now, just wanted to let you know. Thanks

[2022-07-29 19:34] vbmacher commented on #107
Done, thanks for pointing out!

[2022-07-29 19:34] #107 closed

[2022-11-14 04:42] dymaxionuk opened #110 "Support for IntelliJ IDEA EAP 2022.3"
Would be really useful if can get a plug-in build out that supports IntelliJ 223.* builds.

We are actively using the EAP as it has many essential bugfixes for remote dev, that are issues in 2022.2

Thanks